ACTION=="add", ATTR{power/runtime_status}!="unsupported", ATTR{power/control}="auto"
ACTION=="add", SUBSYSTEM=="ata_port", KERNEL=="ata*", ATTR{device/power/control}="auto"
ACTION=="add", SUBSYSTEM=="scsi_host", KERNEL=="host*", ATTR{link_power_management_policy}="med_power_with_dipm"

ACTION=="add", ATTR{idVendor}=="046d", ATTR{idProduct}=="c53f", ATTR{power/autosuspend_delay_ms}="300000"
ACTION=="add", ATTR{idVendor}=="048d", ATTR{idProduct}=="c101", ATTR{power/autosuspend_delay_ms}="300000"
